<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>addEmployeeServlet</display-name>
    <servlet-name>addEmployeeServlet</servlet-name>
    <servlet-class>com.employee.addEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployeeServlet</servlet-name>
    <url-pattern>/addEmployeeServlet</url-pattern>
  </servlet-mapping>
  <display-name>EmpManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>employeeLoginServlet</display-name>
    <servlet-name>employeeLoginServlet</servlet-name>
    <servlet-class>com.employee.employeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeLoginServlet</servlet-name>
    <url-pattern>/employeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewEmployeesServlet</display-name>
    <servlet-name>viewEmployeesServlet</servlet-name>
    <servlet-class>com.employee.viewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewEmployeesServlet</servlet-name>
    <url-pattern>/viewEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.employee.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeUpdateServlet</display-name>
    <servlet-name>employeeUpdateServlet</servlet-name>
    <servlet-class>com.employee.employeeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeUpdateServlet</servlet-name>
    <url-pattern>/employeeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.administrator.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployee</display-name>
    <servlet-name>deleteEmployee</servlet-name>
    <servlet-class>com.employee.deleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployee</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editEmployee</display-name>
    <servlet-name>editEmployee</servlet-name>
    <servlet-class>com.administrator.editEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployee</servlet-name>
    <url-pattern>/editEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeDetails</display-name>
    <servlet-name>employeeDetails</servlet-name>
    <servlet-class>com.employee.employeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeDetails</servlet-name>
    <url-pattern>/employeeDetails</url-pattern>
  </servlet-mapping>
</web-app>